<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/index.css" type='text/css'>
    <title>Document</title>
</head>

<body>
    <header class='header'>
        <nav class='nav-bar'>
            <div class='sign flex nav-ele'>
                <a href='void(0)'>sign in</a>
            </div>
            <div class='title  nav-ele'>
                <a href='void(0)' class='backMove'>swnb</a>
            </div>
            <div class='icon nav-ele'>
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class='list nav-ele'>
                <li>canvas</li>
                <li>github</li>
                <li>others</li>
                <li>
                    <svg width="100%" height="12vh" preserveAspectRatio="none" viewBox='0,0,100,100'>
                        <path d="M4,0 Q0,30 4,60 Q20,100 20,60 T40,60 T60,60 T80,60 T96,60 Q100,30 96,0" fill='rgba(255,200,2,0.7)'  fill-width="5"/>
                    </svg>
                </li>
            </ul>
        </nav>
    </header>
    <canvas id='canvas'></canvas>
    <script src='static/js/index.js'></script>

    <!-- <script>
        let path = document.querySelector('path');

        path_d_change(path, [0.08, 0.08]);

        function path_d_change(path, arr) {
            let stop = false;
            let resolve_path_d = (d, direct_arr) => {
                let pattern = /Q([\d\.]+),([\d\.]+)/;
                let reg_arr = d.match(pattern);
                let [, x, y] = reg_arr;
                x = direct_arr[0] + parseFloat(x);
                y = direct_arr[1] + parseFloat(y);
                if (y > 80) stop = true;
                return d.replace(pattern, 'Q' + x + ',' + y);
            }
            let change_path_d = () => {
                let d = resolve_path_d(path.getAttribute('d'), arr);
                path.setAttribute('d', d);
                if (!stop) {
                    requestAnimationFrame(change_path_d);
                }
            };
            change_path_d();
        }
    </script> -->
</body>

</html>