<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/sign.css">
</head>

<body>
    <header>
        <div class=container>
            <input type="text" name='username' class="inputform" placeholder='输入名字'>
            <span class='add'></span>
        </div>
        <div class='welcome'>welcome</div>
        <div id='button'>
        </div>
    </header>
    <canvas>不支持canvas</canvas>
    <script src='/static/js/index.js'></script>
    <script src='/static/js/sign.js'></script>
    <script src="/static/canvas/log.js"></script>
</body>

</html>