<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/upload.css" rel="stylesheet" type='text/css'>
</head>

<body>
    <header>
        <section class="container">
            <div class='info'>
                <input type="file" id='file' name="upload">
                <label for="file">
                    选择文件
                </label>
                <div class='form'>
                    <div>
                        <p>username</p>
                        <div class='username'>
                            name
                        </div>
                    </div>
                </div>
            </div>
            </>
            <div class='button'>
            </div>
        </section>
    </header>
    <aside>
        <div id='svgswitch'></div>
        <svg width="100%" height="100%" preserveAspectRatio="none" viewBox='0,0,100,100'>
            <path d='M0,0 L0,100 Q-50,-50 100,0' fill='rgba(172, 223, 255,0.8)'/>
        </svg>
    </aside>
    <script src='/static/js/upload.js'></script>
    <script src='/static/svg/upload.js'>
    </script>
</body>

</html>