* {
    margin: auto;
    padding: auto;
}

@keyframes rotate {
    0% {
        transform: rotateX(45deg);
    }
    50% {
        transform: rotateX(-45deg);
    }
    100% {
        transform: rotateX(45deg);
    }
}

@keyframes backgroundmove {
    0% {
        background-position-x: 0%;
    }
    50% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 0%;
    }
}

body {
    perspective: 2000px;
}

div {
    animation: rotate 4s linear infinite;

    transform-style: preserve-3d;
}

h1 {
    margin: 1rem auto;
    background: linear-gradient(45deg, darkolivegreen 0%, darkgoldenrod 25%, darkturquoise 75%, darkolivegreen 100%);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 8% 100%;
    background-repeat: repeat-x;
    color: transparent;
    text-align: center;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: backgroundmove 10s linear infinite;
}