* {
    margin: auto;
    padding: auto;
}

@keyframes move {
    0% {
        background-position-x: 0%;
    }
    50% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 0%;
    }
}

h1 {
    margin: 55px auto;
    background: linear-gradient(45deg, darkolivegreen 0%, darkgoldenrod 25%, darkturquoise 75%, darkolivegreen 100%);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 10% 100%;
    background-repeat: repeat-x;
    color: transparent;
    text-align: center;
    font-size: 10rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: move 10s linear infinite;
}