* {
    margin: auto;
    padding: auto;
}

@keyframes move {
    0% {
        background-position-x: 0%;
    }
    50% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 0%;
    }
}

h1 {
    margin: 55px auto;
    background: linear-gradient(45deg, darkolivegreen 0%, darkgoldenrod 25%, darkturquoise 75%, darkolivegreen 100%);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400% 100%;
    color: transparent;
    text-align: center;
    font-size: 10em;
    animation: move 3s linear infinite;
}