li {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

/*header*/

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 65px;
    max-height: 100px;
    width: 100vw;
    height: 13vh;
    background: rgba(255, 255, 255, 0.3);
}

/*nav-bar*/

.nav-bar {
    margin: auto;
    width: 95%;
    height: 100%;
    color: whitesmoke;
    font-size: 2vw;
}

.nav-ele {
    float: left;
    width: 33.3%;
    height: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign > a {
    color: rgb(64, 223, 250);
    text-align: center;
    font-weight: blod;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title a {
    /* display: block; */
    text-decoration: none;
    font-size: 4.5vw;
}

.icon {
    display: none;
}

.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list svg {
    display: none;
}

nav :last-child::after {
    display: block;
    clear: both;
    content: '';
}

/*section*/

.container {
    position: absolute;
    bottom: 2vh;
    z-index: 0;
    width: 100%;
    height: 40vh;
}

.store {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    margin: auto;
    width: 90%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.store .page {
    width: 150px;
    height: 40%;
}

.store .page a {
    display: block;
    width: 100%;
    height: 100%;
    color: yellowgreen;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    line-height: 14vh;
}

/*字体特效*/

@keyframes backMove {
    from {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    to {
        backround-position: 0 0;
    }
}

.backMove {
    background: linear-gradient(
        45deg,
        #90d619 0%,
        #f1b82d 25%,
        #4ddee0 75%,
        #a8d659 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 20% 100%;
    color: transparent;
    text-align: center;
    animation: backMove 3s linear infinite;
}

@media screen and (max-width: 1024px) {
    .nav-bar {
        font-size: 3.5vw;
    }
    .icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .icon > div {
        display: flex;
        width: 12vw;
        height: 5vw;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
    }
    .icon > div > span {
        display: block;
        width: 70%;
        height: 20%;
        border-radius: 1vw;
        background-color: yellowgreen;
    }
    .list {
        display: block;
        width: 100%;
        text-align: center;
    }
    .list > li {
        padding: 3vh;
        border-bottom: 2px solid rgba(255, 200, 2, 0.7);
        border-top-left-radius: 20vw;
        border-top-right-radius: 20vw;
    }
    .list > li:hover {
        background-color: rgba(73, 140, 175, 0.8);
    }
    .list > li:last-child {
        padding: 0;
        height: 100%;
        border: none;
        background-color: none;
    }
    .list > li > svg {
        display: block;
    }
    .list > li > svg > path {
        width: 100%;
    }
    /* animation */
    .transition {
        transition: all 1.5s linear;
    }
    .transformleft {
        transform: rotateX(90deg);
    }
    .store .page a {
        font-size: 4vw;
    }
}
