* {
    margin: 0;
    padding: 0;
    transition: all 1s linear;
}

body {
    position: relative;
}

section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 10vw;
    border: 3px solid #abd1ff;
    border-radius: 2vw;
    box-shadow: 0 0 10px 1px #56a1ff;

    justify-content: center;
    align-items: center;
}

.box>.input-fade {
    width: 70%;
    outline: none;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 5vw;
}

.input-fade:focus {
    color: #4BEDF1;
}

.add-bar {
    width: 0;
    height: 3px;
    background-color: #56a1ff;
}

.input-fade:focus+.add-bar {
    width: 70%;
}

.welcome {
    background: linear-gradient(45deg, darkolivegreen 0%, darkgoldenrod 25%, darkturquoise 75%, darkolivegreen 100%);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 20% 100%;
    background-repeat: repeat-x;
    color: transparent;
    text-align: center;
    font-size: 10vw;
    animation: backgroundmove 10s linear infinite;
}

@keyframes backgroundmove {
    0% {
        background-position-x: 0%;
    }
    50% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 0%;
    }
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.button {
    position: absolute;
    top: 47vh;
    right: 4vw;
    z-index: 2;
    display: flex;
    width: 17vw;
    height: 17vw;
    border: 6px dashed #4BEDF1;
    border-radius: 50%;

    justify-content: center;
    align-items: center;
}

.button {
    animation: rotate 3s linear infinite;
}

.button:hover {
    animation: rotate 1.5s linear infinite;
}

.buttonin {
    width: 12vw;
    height: 12vw;
    border: 3px dashed #4BEDF1;
    border-radius: 50%;
    animation: rotate 1.2s linear infinte;
}