* {
    margin: 0;
    padding: 0;
}


/*header*/

header {
    width: 100%;
    height: 10vw;
    background-color: #00ccff;
}


/* aside*/

aside {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 100vh;
}

#open {
    width: 10vw;
    height: 10vw;
    border-bottom-right-radius: 100%;
    background-color: #00efff;
    transition: all 1s linear;
}

aside svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#close {
    display: flex;
    overflow: hidden;
    width: 0;
    height: 5%;
    background-color: #009dff;
    transition: all 0.7s linear;

    justify-content: center;
    align-items: center;
}

aside .title {
    padding: 5px;
    background-color: #00c0ff;
    font-size: 5vw;
}

aside ul {
    margin: 2vw auto;
    padding-left: 40px;
    list-style: none;
    font-size: 2vw;
}

aside section {
    overflow: hidden;
    margin: 20vh auto 0;
    width: 0;
    transition: all 1s linear;
}